@page "/"
@rendermode InteractiveServer
@using static CalculadoraAPI;
@using static Calculadora;

<PageTitle>Calculadora - Calc</PageTitle>

<h1>Calculadora</h1>

<div class="container">
  <div class="input-container">
    <form>

      <div class="val-container">

        <!-- ValorA -->
        <div class="form-group">
          <label for="valorA">Valor A</label>
          <input id="valorA" @bind="valorA" type="number" class="form-control" placeholder="Valor numérico">
        </div>

        <!-- ValorB -->
        <div class="form-group">
          <label for="valorB">Valor B</label>
          <input id="valorB" @bind="valorB" type="number" class="form-control" placeholder="Valor numérico">
        </div>

      </div>

      <!-- Operadores -->
      <div class="operation-container">
        <button type="submit" class="btn btn-primary" @onclick="@(e => Calculate_Async(Operation.ADD))">+</button>
        <button type="submit" class="btn btn-primary" @onclick="@(e => Calculate_Async(Operation.SUB))">-</button>
        <button type="submit" class="btn btn-primary" @onclick="@(e => Calculate_Async(Operation.MUL))">*</button>
        <button type="submit" class="btn btn-primary" @onclick="@(e => Calculate_Async(Operation.DIV))">/</button>
      </div>

    </form>
  </div>

  <div class="list-container">
    @if (registers == null) {
      <p><em>Loading...</em></p>
    } else {
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Valor A</th>
            <th>Valor B</th>
            <th>Operação</th>
            <th>Resultado</th>
            <th>Data e Hora</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var register in registers) {
            <tr>
              <td>@register.Id</td>
              <td>@register.ValorA</td>
              <td>@register.ValorB</td>
              <td>@register.Operacao</td>
              <td>@register.Resultado</td>
              <td>@DateTime.Parse(register.DataCalculo).ToString("dd/MM/yyyy hh:mm:ss")</td>
              <td>
                <button type="submit" class="btn btn-primary" @onclick="@(e => DelRegister_Async(register.Id))">Deletar</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>

@code {

  //Operações matemáticas
  private enum Operation {
    ADD,
    SUB,
    MUL,
    DIV
  }

  // Campos de valores
  private string valorA = string.Empty;
  private string valorB = string.Empty;
  private Calculadora[]? registers = [];

  // OnInit
  protected override async Task OnInitializedAsync() {
    await ListRegisters_Async();
  }

  // Lista registros
  private async Task<bool> ListRegisters_Async() {
    Console.WriteLine("API: Listar registros");
    string responseBody = await CalculadoraAPI.List_Async();
    registers = Calculadora.ToCalcList(responseBody);
    Console.WriteLine(responseBody);
    return true;
  }

  // Deleta registro
  private async void DelRegister_Async(int id) {
    Console.WriteLine("API: Remover registro " + id);
    string responseBody = await CalculadoraAPI.Del_Async(id);
    Console.WriteLine(responseBody);
  }

  // Calcula e registra valores
  private async void Calculate_Async(Operation op) {
    Console.WriteLine("API: Calcular " + op);
    if (!isValid(valorA) || !isValid(valorB)) {
      Console.WriteLine($"Erro! Campo inválido!");
      return;
    }
    double valA = Double.Parse(valorA);
    double valB = Double.Parse(valorB);
    string responseBody = "";
    switch (op) {
      case Operation.ADD:
        responseBody = await CalculadoraAPI.Add_Async(valA, valB);
        break;
      case Operation.SUB:
        responseBody = await CalculadoraAPI.Sub_Async(valA, valB);
        break;
      case Operation.MUL:
        responseBody = await CalculadoraAPI.Mul_Async(valA, valB);
        break;
      case Operation.DIV:
        responseBody = await CalculadoraAPI.Div_Async(valA, valB);
        break;
    }
    Console.WriteLine(responseBody);
  }

  // Validação de valores
  private bool isValid(string valor) {
    if (valor == null) return false;
    if (!Double.TryParse(valor, out _)) return false;
    return true;
  }

}