@page "/"
@rendermode InteractiveServer
@using static CalculadoraAPI;
@using static Calculadora;
@inject IJSRuntime JsRuntime

<PageTitle>Calculadora - Calc</PageTitle>

<h1>Calculadora</h1>

<div class="container">
  <div class="input-container">

      <div class="val-container">

        <!-- ValorA -->
        <div class="form-group">
          <label for="valorA">Valor A</label>
          <input id="valorA" @bind-value="valorA" type="number" class="form-control" placeholder="Valor numérico">
        </div>

        <!-- ValorB -->
        <div class="form-group">
          <label for="valorB">Valor B</label>
          <input id="valorB" @bind-value="valorB" type="number" class="form-control" placeholder="Valor numérico">
        </div>

      </div>

      <!-- Operadores -->
      <div class="operation-container">
        <button type="submit" class="btn btn-primary" @onclick="@(e => Calculate_Async(Operation.ADD))">+</button>
        <button type="submit" class="btn btn-primary" @onclick="@(e => Calculate_Async(Operation.SUB))">-</button>
        <button type="submit" class="btn btn-primary" @onclick="@(e => Calculate_Async(Operation.MUL))">*</button>
        <button type="submit" class="btn btn-primary" @onclick="@(e => Calculate_Async(Operation.DIV))">/</button>
      </div>

  </div>

  <div class="list-container">
    @if (registers == null) {
      <p><em>Loading...</em></p>
    } else {
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Valor A</th>
            <th>Valor B</th>
            <th>Operação</th>
            <th>Resultado</th>
            <th>Data e Hora</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var register in registers) {
            <tr>
              <td>@register.Id</td>
              <td>@String.Format("{0:0.00}", register.ValorA)</td>
              <td>@String.Format("{0:0.00}", register.ValorB)</td>
              <td>@register.Operacao</td>
              <td>@String.Format("{0:0.00}", register.Resultado)</td>
              <td>@DateTime.Parse(register.DataCalculo).ToString("dd/MM/yyyy hh:mm:ss")</td>
              <td>
                <button type="submit" class="btn btn-primary" @onclick="@(e => DelRegister_Async(register.Id))">Deletar</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>

@code {

  //Operações matemáticas
  private enum Operation {
    ADD,
    SUB,
    MUL,
    DIV
  }

  // Campos de valores
  private string valorA { get; set; }
  private string valorB { get; set; }
  private int reset { get; set; }
  private Calculadora[]? registers = [];

  // OnInit
  protected override async Task OnInitializedAsync() {
    await ListRegisters_Async();
  }

  // Lista registros
  private async Task<bool> ListRegisters_Async() {
    Console.WriteLine("API: Listar registros");
    string responseBody = await CalculadoraAPI.List_Async();
    registers = Calculadora.ToCalcList(responseBody);
    Console.WriteLine(responseBody);
    return true;
  }

  // Deleta registro
  private async void DelRegister_Async(int id) {
    Console.WriteLine("API: Remover registro " + id);
    string responseBody = await CalculadoraAPI.Del_Async(id);
    await ListRegisters_Async();
    resetDOM();
    showMessage_Async($"Registro {id} deletado");
    Console.WriteLine(responseBody);
  }

  // Calcula e registra valores
  private async void Calculate_Async(Operation op) {
    Console.WriteLine("API: Calcular " + op);
    if (!isNotEmpty(valorA) || !isNotEmpty(valorB)) {
      showMessage_Async("Campos inválidos! Não devem estar vazios!");
      Console.WriteLine("Erro! Campo inválido!");
      return;
    }
    if (!isNumber(valorA) || !isNumber(valorB)) {
      showMessage_Async("Campos inválidos! Devem conter apenas números!");
      Console.WriteLine("Erro! Campo inválido!");
      return;
    }
    double valA = Double.Parse(valorA);
    double valB = Double.Parse(valorB);
    string responseBody = "";
    switch (op) {
      case Operation.ADD:
        responseBody = await CalculadoraAPI.Add_Async(valA, valB);
        break;
      case Operation.SUB:
        responseBody = await CalculadoraAPI.Sub_Async(valA, valB);
        break;
      case Operation.MUL:
        responseBody = await CalculadoraAPI.Mul_Async(valA, valB);
        break;
      case Operation.DIV:
        responseBody = await CalculadoraAPI.Div_Async(valA, valB);
        break;
    }
    await ListRegisters_Async();
    resetDOM();
    string newId = responseBody;
    showMessage_Async($"Dados armazenados com sucesso, ID de Armazenamento {newId}");
    Console.WriteLine(responseBody);
  }

  // Validação de valores
  private bool isNotEmpty(string valor) {
    if (valor == null || String.IsNullOrEmpty(valor)) return false;
    return true;
  }
  private bool isNumber(string valor) {
    if (!Double.TryParse(valor, out _)) return false;
    return true;
  }

  // Reset
  private void resetDOM() {
    valorA = "";
    valorB = "";
    InvokeAsync(() => {
      StateHasChanged();
    });
  }

  // Popup
  private async void showMessage_Async(string message) {
    await JsRuntime.InvokeVoidAsync("alert", message);
  }

}